In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("data/train.csv", dtype={"Age": np.float64}, )
test  = pd.read_csv("data/test.csv", dtype={"Age": np.float64}, )

In [3]:
train["first_name"] = train["Name"].apply(lambda x: x.rsplit(",",1)[0])
test["first_name"] = test["Name"].apply(lambda x: x.rsplit(",",1)[0])
train["Name_len"]=train["Name"].apply(lambda x: len(x.rsplit("(",1)[0]))
test["Name_len"]=test["Name"].apply(lambda x: len(x.rsplit("(",1)[0]))
train["First_Name_len"]=train["first_name"].apply(lambda x: len(x))
test["First_Name_len"]=test["first_name"].apply(lambda x: len(x))
train["Last_Name_len"]=train["Name_len"]-train["First_Name_len"]
test["Last_Name_len"]=test["Name_len"]-test["First_Name_len"]

In [4]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,first_name,Name_len,First_Name_len,Last_Name_len
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,23,6,17
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,27,7,20
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,22,9,13
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,29,8,21
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,24,5,19
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Moran,16,5,11
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,McCarthy,23,8,15
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,30,7,23
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Johnson,22,7,15
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Nasser,22,6,16

In [5]:
test.groupby('Pclass')['Fare'].median()

Pclass
1    60.0000
2    15.7500
3     7.8958
Name: Fare, dtype: float64

In [6]:
Fare_by_class = test.groupby('Pclass')['Fare'].median()
train['Fare_est']=train.Pclass.apply(lambda x: Fare_by_class[x])
train.Fare.fillna(train.Fare_est)
test['Fare_est']=test.Pclass.apply(lambda x: Fare_by_class[x])
test.Fare.fillna(test.Fare_est)
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,first_name,Name_len,First_Name_len,Last_Name_len,Fare_est
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,23,6,17,7.8958
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,27,7,20,60.0000
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,22,9,13,7.8958
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,29,8,21,60.0000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,24,5,19,7.8958
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Moran,16,5,11,7.8958
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,McCarthy,23,8,15,60.0000
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,30,7,23,7.8958
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Johnson,22,7,15,7.8958
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Nasser,22,6,16,15.7500
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Sandstrom,31,9,22,7.8958
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Bonnell,24,7,17,60.0000
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Saundercock,30,11,19,7.8958
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Andersson,27,9,18,7.8958
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Vestrom,36,7,29,7.8958
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Hewlett,14,7,7,15.7500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Rice,20,4,16,7.8958
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Williams,28,8,20,15.7500
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Vander Planke,27,13,14,7.8958
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Masselmani,23,10,13,7.8958
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Fynney,20,6,14,15.7500
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Beesley,21,7,14,15.7500
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,McGowan,27,7,20,7.8958
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Sloper,28,6,22,60.0000
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Palsson,29,7,22,7.8958
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Asplund,25,7,18,7.8958
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Emir,23,4,19,7.8958
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune,30,7,23,60.0000
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,O'Dwyer,29,7,22,7.8958
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Todoroff,19,8,11,7.8958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,Giles,27,5,22,15.7500
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Swift,27,5,22,60.0000
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Sage,33,4,29,7.8958
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,Gill,22,4,18,15.7500
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,14,7,7,15.7500
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Duran y More,28,12,16,15.7500
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,36,8,28,60.0000
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,van Melkebeke,27,13,14,7.8958
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,Johnson,31,7,24,7.8958
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,Balkic,17,6,11,7.8958
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Beckwith,31,8,23,60.0000
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,24,8,16,60.0000
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Vander Cruyssen,27,15,12,7.8958
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Abelson,21,7,14,15.7500
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Najib,32,5,27,7.8958
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,Gustafsson,29,10,19,7.8958
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,Petroff,20,7,13,7.8958
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,18,6,12,7.8958
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Potter,23,6,17,60.0000
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,22,7,15,15.7500
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,Markun,18,6,12,7.8958
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Dahlberg,28,8,20,7.8958
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,29,8,21,15.7500
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Sutehall,22,8,14,7.8958
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,19,4,15,7.8958
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Montvila,21,8,13,15.7500
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Graham,28,6,22,60.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Johnston,40,8,32,7.8958
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Behr,21,4,17,60.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,19,6,13,7.8958

In [7]:
train_corr = train.corr()
train_corr

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Name_len,First_Name_len,Last_Name_len,Fare_est
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658,-0.021122,-0.024081,-0.012752,0.035404
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,0.128748,0.032149,0.127656,0.308910
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,-0.155492,0.005029,-0.173273,-0.942391
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,-0.145287,-0.011401,-0.155380,0.364294
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,0.199326,-0.046958,0.239761,-0.064576
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,0.129623,-0.076696,0.176020,-0.018314
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,0.113215,-0.044505,0.143948,0.593494
Name_len,-0.021122,0.128748,-0.155492,-0.145287,0.199326,0.129623,0.113215,1.000000,0.417650,0.918384,0.163164
First_Name_len,-0.024081,0.032149,0.005029,-0.011401,-0.046958,-0.076696,-0.044505,0.417650,1.000000,0.024035,0.023538
Last_Name_len,-0.012752,0.127656,-0.173273,-0.155380,0.239761,0.176020,0.143948,0.918384,0.024035,1.000000,0.169273
Fare_est,0.035404,0.308910,-0.942391,0.364294,-0.064576,-0.018314,0.593494,0.163164,0.023538,0.169273,1.000000

In [8]:
def correct_data(train_data, test_data):
    # Make missing values ​​for training data from test data as well
    train_data.Age = train_data.Age.fillna(test_data.Age.median())
    
    train_data.Fare = train_data.Fare.fillna(test_data.Fare.median())
    
    train_data.Name_len = train_data.Name_len.fillna(test_data.Name_len.median())
    train_data.First_Name_len = train_data.First_Name_len.fillna(test_data.First_Name_len.median())
    train_data.Last_Name_len = train_data.Last_Name_len.fillna(test_data.Last_Name_len.median())

    
    test_data.Age = test_data.Age.fillna(test_data.Age.median())
    test_data.Fare = test_data.Fare.fillna(test_data.Fare.median())    
    test_data.Name_len = train_data.Name_len.fillna(test_data.Name_len.median())
    test_data.First_Name_len = test_data.First_Name_len.fillna(test_data.First_Name_len.median())
    test_data.Last_Name_len = test_data.Last_Name_len.fillna(test_data.Last_Name_len.median())

    
    train_data = correct_data_common(train_data)
    test_data = correct_data_common(test_data)    
    return train_data,  test_data

def correct_data_common(titanic_data):
    titanic_data.Sex = titanic_data.Sex.replace(['male', 'female'], [0, 1])
    titanic_data.Embarked = titanic_data.Embarked.fillna("S")
    titanic_data.Embarked = titanic_data.Embarked.replace(['C', 'S', 'Q'], [0, 1, 2])

    return titanic_data

train_data,  test_data = correct_data(train, test)

In [9]:
train_corr = train.corr()
train_corr

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_len,First_Name_len,Last_Name_len,Fare_est
PassengerId,1.000000,-0.005007,-0.035144,-0.042939,0.034759,-0.057527,-0.001652,0.012658,-0.017443,-0.021122,-0.024081,-0.012752,0.035404
Survived,-0.005007,1.000000,-0.338481,0.543351,-0.061956,-0.035322,0.081629,0.257307,-0.125953,0.128748,0.032149,0.127656,0.308910
Pclass,-0.035144,-0.338481,1.000000,-0.131900,-0.344489,0.083081,0.018443,-0.549500,0.305762,-0.155492,0.005029,-0.173273,-0.942391
Sex,-0.042939,0.543351,-0.131900,1.000000,-0.079306,0.114631,0.245489,0.182333,-0.022521,0.113692,-0.035182,0.140413,0.110714
Age,0.034759,-0.061956,-0.344489,-0.079306,1.000000,-0.233396,-0.168329,0.099571,-0.044949,-0.116568,-0.007436,-0.125017,0.339522
SibSp,-0.057527,-0.035322,0.083081,0.114631,-0.233396,1.000000,0.414838,0.159651,0.030874,0.199326,-0.046958,0.239761,-0.064576
Parch,-0.001652,0.081629,0.018443,0.245489,-0.168329,0.414838,1.000000,0.216225,-0.035957,0.129623,-0.076696,0.176020,-0.018314
Fare,0.012658,0.257307,-0.549500,0.182333,0.099571,0.159651,0.216225,1.000000,-0.268865,0.113215,-0.044505,0.143948,0.593494
Embarked,-0.017443,-0.125953,0.305762,-0.022521,-0.044949,0.030874,-0.035957,-0.268865,1.000000,-0.026567,-0.078058,0.004763,-0.316571
Name_len,-0.021122,0.128748,-0.155492,0.113692,-0.116568,0.199326,0.129623,0.113215,-0.026567,1.000000,0.417650,0.918384,0.163164
First_Name_len,-0.024081,0.032149,0.005029,-0.035182,-0.007436,-0.046958,-0.076696,-0.044505,-0.078058,0.417650,1.000000,0.024035,0.023538
Last_Name_len,-0.012752,0.127656,-0.173273,0.140413,-0.125017,0.239761,0.176020,0.143948,0.004763,0.918384,0.024035,1.000000,0.169273
Fare_est,0.035404,0.308910,-0.942391,0.110714,0.339522,-0.064576,-0.018314,0.593494,-0.316571,0.163164,0.023538,0.169273,1.000000

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import cross_val_score

In [11]:
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "Name_len","Last_Name_len","First_Name_len",]

models = []

models.append(("LogisticRegression",LogisticRegression()))
models.append(("SVC",SVC()))
models.append(("LinearSVC",LinearSVC()))
models.append(("KNeighbors",KNeighborsClassifier()))
models.append(("DecisionTree",DecisionTreeClassifier()))
models.append(("RandomForest",RandomForestClassifier()))
models.append(("MLPClassifier",MLPClassifier(solver='lbfgs', random_state=0)))

In [12]:
results = []
names = []
for name,model in models:
    result = cross_val_score(model, train_data[predictors], train_data["Survived"],  cv=3)
    names.append(name)
    results.append(result)

In [13]:
for i in range(len(names)):
    print(names[i],results[i].mean())

('LogisticRegression', 0.7912457912457912)
('SVC', 0.6251402918069585)
('LinearSVC', 0.7149270482603817)
('KNeighbors', 0.6689113355780023)
('DecisionTree', 0.745230078563412)
('RandomForest', 0.8058361391694725)
('MLPClassifier', 0.787878787878788)

In [14]:
model = MLPClassifier(verbose= False, hidden_layer_sizes=(200,50,100),solver='lbfgs')
cross_val_score(model, train_data[predictors], train_data["Survived"],  cv=3).mean()

0.7845117845117845

In [203]:
alg = MLPClassifier(verbose= True, hidden_layer_sizes=(200,50,100), alpha=0.000001)
alg.fit(train_data[predictors], train_data["Survived"])

predictions = alg.predict(test_data[predictors])

submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": predictions
    })

submission.to_csv('submission.csv', index=False)

Iteration 1, loss = 0.83857239
Iteration 2, loss = 0.71612938
Iteration 3, loss = 0.65632598
Iteration 4, loss = 0.60423931
Iteration 5, loss = 0.58330366
Iteration 6, loss = 0.57146316
Iteration 7, loss = 0.56015055
Iteration 8, loss = 0.55040397
Iteration 9, loss = 0.53902575
Iteration 10, loss = 0.53114058
Iteration 11, loss = 0.52575115
Iteration 12, loss = 0.51766424
Iteration 13, loss = 0.51850618
Iteration 14, loss = 0.51028021
Iteration 15, loss = 0.50694226
Iteration 16, loss = 0.49204448
Iteration 17, loss = 0.48350952
Iteration 18, loss = 0.50516254
Iteration 19, loss = 0.51116265
Iteration 20, loss = 0.48301910
Iteration 21, loss = 0.48873745
Iteration 22, loss = 0.45655748
Iteration 23, loss = 0.45522226
Iteration 24, loss = 0.44584796
Iteration 25, loss = 0.44059593
Iteration 26, loss = 0.44081674
Iteration 27, loss = 0.44235157
Iteration 28, loss = 0.43941471
Iteration 29, loss = 0.43292219
Iteration 30, loss = 0.41676377
Iteration 31, loss = 0.41963281
Iteration 32, loss = 0.43081836
Iteration 33, loss = 0.46594424
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

In [ ]:
parameters = {
        'hidden_layer_sizes': [(10),(10,10),(10,10,10)],
        'activation'        : ['identity', 'logistic', 'tanh', 'relu'],
        'solver'            : ['lbfgs', 'sgd', 'adam'],
}
gsc = GridSearchCV(MLPClassifier(), parameters,cv=3, scoring='accuracy', n_jobs=-1)
gsc.fit(train_data[predictors], train_data["Survived"])

Process PoolWorker-1:
Process PoolWorker-11:
Process PoolWorker-3:
Process PoolWorker-12:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 267, in _bootstrap
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 267, in _bootstrap
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 267, in _bootstrap
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 267, in _bootstrap
    self.run()
    self.run()
    self.run()
    self.run()
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 114, in run
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 114, in run
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 114, in run
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
    self._target(*self._args, **self._kwargs)
    self._target(*self._args, **self._kwargs)
    self._target(*self._args, **self._kwargs)
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/multiprocessing/pool.py", line 102, in worker
    task = get()
    task = get()
    task = get()
    task = get()
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/site-packages/sklearn/externals/joblib/pool.py", line 360, in get
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/site-packages/sklearn/externals/joblib/pool.py", line 362, in get
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/site-packages/sklearn/externals/joblib/pool.py", line 360, in get
  File "/Users/masanori/.pyenv/versions/2.7.14/lib/python2.7/site-packages/sklearn/externals/joblib/pool.py", line 360, in get
    return recv()
    racquire()
    racquire()
    racquire()
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt

In [ ]:
parameters = {
        'hidden_layer_sizes': [(100,),(200,),(10,),(1000)],
}
gsc = GridSearchCV(MLPClassifier(), parameters,cv=3, scoring='accuracy')
gsc.fit(train_data[predictors], train_data["Survived"])

In [ ]:
gsc.grid_scores_

In [ ]:
gsc.best_params_

In [37]:
alg = RandomForestClassifier()
alg.fit(train_data[predictors], train_data["Survived"])

predictions = alg.predict(test_data[predictors])

submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": predictions
    })

submission.to_csv('submission.csv', index=False)

In [206]:
parameters = {
        'n_estimators'      : [5, 10, 20, 30, 50, 100, 300,500],
        'max_depth'         : [3, 5, 10, 15, 20, 25, 30, 40, 50, 100],
        'random_state'      : [0],
}
gsc = GridSearchCV(RandomForestClassifier(), parameters,cv=5, n_jobs=-1, scoring='f1')
gsc.fit(train_data[predictors], train_data["Survived"])

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [5, 10, 20, 30, 50, 100, 300, 500], 'random_state': [0], 'max_depth': [3, 5, 10, 15, 20, 25, 30, 40, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='f1', verbose=0)

In [207]:
gsc.best_params_

{'max_depth': 20, 'n_estimators': 300, 'random_state': 0}

In [208]:
model = RandomForestClassifier(max_depth=gsc.best_params_['max_depth'],n_estimators=gsc.best_params_['n_estimators'],random_state=gsc.best_params_['random_state'],n_jobs=-1)
cross_val_score(model, train_data[predictors], train_data["Survived"],  cv=3).mean()

0.809203142536476

In [209]:
alg = RandomForestClassifier(verbose= True,max_depth=gsc.best_params_['max_depth'],n_estimators=gsc.best_params_['n_estimators'],random_state=gsc.best_params_['random_state'],n_jobs=-1)
alg.fit(train_data[predictors], train_data["Survived"])

predictions = alg.predict(test_data[predictors])

submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": predictions
    })

submission.to_csv('submission.csv', index=False)

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    0.4s finished
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 300 out of 300 | elapsed:    0.1s finished

In [15]:
tuned_parameters = [
    {'C': [1, 10, 100, 1000], 'kernel': ['linear']},
    {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.001, 0.0001]},
    {'C': [1, 10, 100, 1000], 'kernel': ['poly'], 'degree': [2, 3, 4], 'gamma': [0.001, 0.0001]},
    {'C': [1, 10, 100, 1000], 'kernel': ['sigmoid'], 'gamma': [0.001, 0.0001]}
    ]

In [18]:
score = 'f1'
clf = GridSearchCV(
    SVC(), # 識別器
    tuned_parameters, # 最適化したいパラメータセット 
    cv=5, # 交差検定の回数
    scoring='%s_weighted' % score, # モデルの評価関数の指定
    n_jobs=-1)

In [19]:
clf.fit(train_data[predictors], train_data["Survived"])

GridSearchCV(cv=5, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid=[{'kernel': ['linear'], 'C': [1, 10, 100, 1000]}, {'kernel': ['rbf'], 'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001]}, {'kernel': ['poly'], 'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001], 'degree': [2, 3, 4]}, {'kernel': ['sigmoid'], 'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='f1_weighted', verbose=0)

In [21]:
clf.best_params_

{'C': 1000, 'degree': 2, 'gamma': 0.001, 'kernel': 'poly'}

In [25]:
model = SVC(C=clf.best_params_['C'],kernel=clf.best_params_['kernel'],degree=clf.best_params_['degree'],gamma=clf.best_params_['gamma'])
cross_val_score(model, train_data[predictors], train_data["Survived"],  cv=3).mean()

0.8114478114478114

In [26]:
predictions = clf.predict(test_data[predictors])

submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": predictions
    })

submission.to_csv('submission.csv', index=False)